@import "tailwindcss";

:root {
  --background: #f0f6ff;
  --foreground: #fbf9f9;
  --primary-blue: #121313;
  --primary-blue-dark: #1e40af;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --text-color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fdfdfd;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--primary-blue);
  text-decoration: none;
}
a:hover {
  color: blue;
  text-decoration: underline;
}
